<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>পূর্বের রিপোর্ট সমূহ</title>
    <link rel="stylesheet" href="/css/logo.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <%- include("../../template/logo.ejs")%> <%-
    include("../../template/backlinks.ejs")%> <%-
    include("../../template/dateWiseInfoTemp.ejs",{dateWiseInfo:reportArr,database:database})%>
    <%- include("../../template/footer.ejs")%>
  </body>
</html>
