@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif Bengali", serif;
}
html,
body {
  scroll-behavior: smooth;
}

:root {
  --var-primary-color: rgba(66, 16, 118, 1);
  --var-secondary-color: rgba(37, 3, 72, 1);
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8) translateY(-2.2rem);
  -webkit-transform: scale(0.8) translateY(-2.2rem);
  -moz-transform: scale(0.8) translateY(-2.2rem);
  -ms-transform: scale(0.8) translateY(-2.2rem);
  -o-transform: scale(0.8) translateY(-2.2rem);
}
.collegeLogoIcon {
  background-image: url(/logo/collegeLogo.png);
}
.LogoAuthIcon {
  background-image: url(/logo/authority.png);
}
.collegeLogoIcon,
.LogoAuthIcon {
  height: 15rem;
  width: 15rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.LogoName {
  font-weight: 900;
  font-size: 2.6rem;
  margin: 0 3rem;
  color: var(--var-secondary-color);
  white-space: nowrap;
}
.LogoSideText {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: right;
  color: var(--var-primary-color);
}
.btn {
  background-color: rgb(63 4 131);
  color: white;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.3rem 0;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  -moz-transition: background-color 5000s ease-in-out 0s !important;
  -ms-transition: background-color 5000s ease-in-out 0s !important;
  -o-transition: background-color 5000s ease-in-out 0s !important;
}
