<section class="footerSection">
  <div class="footerContainer">
    <div class="copyright">
      <% let footerDate = new Date(); let year= footerDate.getFullYear(); %>
      &copy;Copyright All Right Reserved <%= year %> Civil Aviation School and
      College, Kurmitola
    </div>
    <div class="developed">Developed By ICT Department, CASC</div>
  </div>
</section>
