<div class="logoArea">
  <div class="logoContainer">
    <div class="collegeLogoIcon"></div>
    <div class="collegeLogoName">
      <div class="LogoName">সিভিল এভিয়েশন স্কুল এন্ড কলেজ, কুর্মিটোলা</div>
      <div class="LogoSideText">ক্যান্টিন ম্যানেজমেন্ট সফটওয়্যার</div>
    </div>
    <div class="LogoAuthIcon"></div>
  </div>
</div>
